
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #000000;
}

/* Header */

.header {
    background-color: #FFFFFF;
    padding: 51px 0 41px;
}

.rectangle {
    position: absolute;
    width: 44%;
    height: 826px;
    right: 0px;
    top: 0px;
    background-color: #F1EADC;
    z-index: 0;
}

.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    z-index: 1;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.menu-links {
    width: 400px;
    margin: 0;
    padding: 0;
    position: absolute;
    padding-left: 25%;
    padding-top: 2px;
}

.menu-links-item {
    width: 73px;
    text-align: center;
}

.menu-link:hover {
    font-weight: 700;
    color: #6E9C9F;
    transition: 0.5s;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #000000;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.phone {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0;
    padding-right: 91px;
    width: 164px;
}

.phone-ring-hover {
    position: absolute;
    left: 0;
    opacity: 0;
}

.phone-ring-hover:hover {
    opacity: 1;
    transition: 0.5s;
}

.phone-number {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.basket {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

/* Offer */

main {
    height: 706px;
}

.main-info {
    display: flex;
    justify-content: space-between;
}

.offer {
    padding-top: 145px;
}

.headline {
    font-weight: 500;
    font-size: 55px;
    line-height: 61px;
    letter-spacing: 0.02em;
    width: 585px;
}

.line {
    padding-top: 45px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    width: 385px;
    text-align: right;
}

.open-shop {
    background-color: #6E9C9F;
    color: #FFFFFF;
    text-decoration: none;
    padding: 22px 50px;
    font-size: 17px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.open-shop:hover {
    background-color: #509498;
    transition: 0.5s;
}

.button {
    padding-top: 52px;
    display: flex;
    justify-content: center;
    padding-right: 22%;
}

/* New collection */

.new-collection {
    padding-top: 130px;
}

.title {
    padding-bottom: 92px;
    font-size: 40px;
    line-height: 44px;
    font-weight: 500;
}

.collection {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 1110px;
    margin: 0 auto;
}


.name-item {
    padding: 24px 0 7px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
}

.price-item {
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 0 auto;
}

.price-one {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #998E78;
    text-decoration-line: line-through;
}

.price {
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #998E78;
}

.overlay {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 350px;
    height: 478px;
    background-color: #6E9C9F;
    opacity: 0;
    z-index: 1;
}

.photo-item {
    z-index: 0;
}

.arrow-item1 {
    position: absolute;
    margin-top: 228px;
    margin-right: 160px;
    margin-bottom: 228px;
    margin-left: 159px;
    z-index: 2;
    opacity: 1;
}

.overlay:hover {
    opacity: 0.77;
    transition: 0.5s;
}

.bt {
    padding-top: 65px;
    display: flex;
    justify-content: center;
}

.openshop {
    background-color: #FFFFFF;
    color: #6E9C9F;
    text-decoration: none;
    padding: 22px 50px;
    font-size: 17px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    border: 1px solid #6E9C9F;
    margin: 0 auto;
}

.openshop:hover {
    background-color: #6E9C9F;
    color: #FFFFFF;
    transition: 0.5s;
}

/* Important */

.important {
    padding-top: 130px;
}

.superimp {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.02em;
    padding-bottom: 92px;
}

.imp {
    display: flex;
    justify-content: space-between;
}

.imp-name {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.02em;
    padding: 37px 0 24px;
}

.impimg {
    width: 61px;
    height: 61px;
}

.imp-about {
    width: 305px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

/* Team */

.team {
    padding-top: 130px;
    padding-bottom: 130px;
}

.teamline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.larrow {
    position: absolute;
    left: -61px;
    right: 102.61%;
    top: 60%;
    bottom: 40%;
}

.rarrow {
    position: absolute;
    width: 28px;
    height: 14px;
    left: 760px;
    top: 60%;
    bottom: 40%;
}

.aboutteam {
    width: 255px;
}

.every {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.02em
}

.everyabout {
    padding: 28px 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.brendlink {
    color: #6E9C9F;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.underline {
    background-color: #CEDEDF;
    height: 1px;
    width: 180px;
    margin-bottom: 5px;
    opacity: 0;
}

.brendlink:hover ~ .underline {
    opacity: 1;
    transition: 0.5s;
}

/* Footer */

.footer {
    background-color: #F1EADC;
    padding-top: 101px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.itemsf {
    display: flex;
    justify-content: space-between;
}

.right {
    display: block;
    text-decoration: none;
    color: #000000;
    padding-top: 6px;
}

.rights {
    padding-top: 64px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.02em
}

.column2 {
    width: 400px;
    text-align: left;
}

.itemf2 {
    padding-top: 29px;
    text-align: left;
    padding-bottom: 97px;
}

.itemf3 {
    padding-top: 10px;
}

.itemf {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
    width: 80px;
}

.itemf.selected {
    font-weight: 700;
    color: #6E9C9F;
} 

.column3 {
    text-align: right;
}

.phonenum {
    padding-bottom: 9px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.mail {
    padding-bottom: 30px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.02em;
}

.socials {
    width: 90px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
}

.paypics {
    padding-top: 30px;
}

/* My shop */

.mainshop {
    padding-top: 149px;
}

.shoptitle {
    font-weight: 500;
    font-size: 55px;
    line-height: 61px;
    letter-spacing: 0.02em;
    padding-bottom: 26px;
}

.shopmin {
    display: flex;
    justify-content: space-between;
    width: 181px;
}

.mainsh {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.tire {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.shopp {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #919191;
}

.links-clothes {
    display: flex;
    justify-content: space-between;
    padding-top: 214px;
    padding-left: 0px;
    margin: 0;
    padding-bottom: 92px;
}

.linkk {
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 19px 65px;
}

.linkk.selected {
    color: #ffffff;
    background-color: #000000;
}

.linkk:hover {
    color: #ffffff;
    background-color: #000000;
    transition: 0.5s;
}

.tovary {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #919191;
    padding-bottom: 65px;
}

/* Full Collection */

.fullcollection {
    padding-bottom: 65px;
}

.numbers {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin: 0 auto;
    padding-bottom: 130px;
}

.arr {
    margin: auto 0;
}

.num {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    border: #000000 1px solid;
    width: 39px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.num.selected {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    border: #000000 1px solid;
    width: 39px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.num:hover {
    color: #FFFFFF;
    background-color: #000000;
    transition: 0.5s;
}

/* About brand */

.aboutbrandd {
    padding: 214px 0 130px;
}

.group {
    display: flex;
    justify-content: space-between;
    padding-bottom: 130px;
}

.textgroup {
    width: 542px;
    margin: auto 0;
}

.idea {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.02em;
    padding-bottom: 46px;
}

.textidea {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.open-shopp {
    background-color: #6E9C9F;
    color: #FFFFFF;
    text-decoration: none;
    padding: 22px 50px;
    font-size: 17px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
}

.open-shopp:hover {
    background-color: #509498;
    transition: 0.5s;
}

.bbt {
    display: flex;
    justify-content: center;
}
